body
{
    text-align: center;
    font-family: 'Courier New';
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(54, 54, 97);
    font-size: 20px;
    margin: 0 auto;
    padding: 0%;
}

#container
{
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 1% ;
}

#cabecera
{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 8px 14px 5px rgba(92, 85, 156, 0.75);
    color: rgb(19, 26, 58);
    font-weight: bold;
    margin: 10px;
    padding: 9px;
    display: flex;
    align-items: center;
}

#cabecera #logo
{
    width: 80px;
    height: 80px;
    object-fit: none;
    text-align: left;
    margin: 15px;
}

#cabecera #tagline
{
    margin: 0 0 0 2em;
    font-weight: normal;
    font-size: 15px;
}

#texto h1
{
    text-align: center;
    font-size: 30px;
}

#texto #poema
{
    text-align: center;
    font-style: italic;
}

#footer
{
    background-color: rgb(57, 57, 75);
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: small;
    margin: auto;
    padding: 1px;
    text-align: center;
}
